<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
	<img src="http://www.about.tarung2017.com/foto/524.jpg" alt="Mika's picture" width="104" height="142">
	
	<h2>My friend in front of me is Afrah Hardian</h2>
    <article>She is 19 years old</article>
	<article>She loves to read and write</article>
	<img src="<img src="http://www.about.tarung2017.com/foto/301.jpg" alt="Mika's picture" width="104" height="142">" alt="Mika's picture" width="104" height="142">

	
	
	<h3>My friend behind me is Dzaky Noor</h2>
    <article>He is 19 years old</article>
	<article>He loves to play computer games</article>
	<img src="<img src="http://www.about.tarung2017.com/foto/211.jpg" alt="Mika's picture" width="104" height="142">" alt="Mika's picture" width="104" height="142">
</body>
</html>
